//Header
.background-content {
    position: relative;
    min-height: 20vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(to right, #00000093, #00000093), no-repeat top center;

    >.container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    >img {
        position: absolute;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .banner-content {
        display: flex;
        height: 12.75rem;
        margin: 1rem 0;

        >.container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            justify-content: flex-end;
            color: var(--white);
            text-align: center;

            h3 {
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 500;
            }

            h1 {
                letter-spacing: normal;
                font-size: 57px;
                font-weight: 800;
                text-transform: capitalize;
                line-height: 1.3em;
            }
        }
    }
}

// About us section
#about-us {
    .about-us-content {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 40px;

        .about-us-text {
            width: 50%;
            padding: 10px;

            p {
                font-size: var(--p-regular);
                padding: .625rem;
                text-align: justify;
                font-weight: 400;
            }
        }

        .about-us-image {
            width: 50%;
            padding: .625rem;

            img {
                width: 100%;
            }
        }
    }
}

//Our values Section
#our-values {
    display: flex;
    background: var(--beige);
    margin: 40px 0;
    height: 60vh;

    >.container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .value-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        background-color: #ffff;
        width: 50%;
        height: auto;
        min-height: 395px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 5px 2px 13px -1px rgba(58, 58, 58, 0.58);

        i {
            color: var(--blue);
        }

        h2 {
            color: var(--blue);
        }

        p {
            color: var(--black);
            font-weight: 400;
        }
    }
}

//Banner
#banner {
    position: relative;
    min-height: 50vh;
    width: 100vw;
    overflow: hidden;   

    >img {
        position: absolute;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
    }
}

//Learn More
#learn-more {
    background-color: var(--beige);
    margin: 80px 0;

    .highlight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
            padding: 1.4rem 0;
            font-size: var(--p-regular);
            color: var(--black);
            font-weight: 400;
            text-align: center;
        }

        .button {
            margin: 1.875rem 0;
        }
    }
}

@media screen and (max-width: 650px) {
    #banner > img {
        top: 70%;
        left: 100%; 
    }

    // Header
    .background-content>.container {
        align-items: unset;
    }

    //About us section
    #about-us {
        .about-us-content {
            flex-direction: column;
            margin-top: 0;

            .about-us-text {
                width: 100%;
            }

            .about-us-image {
                width: 100%;
                padding: .625rem;

                img {
                    width: 100%;
                }
            }
        }
    }

    //Our values Section
    #our-values {
        flex-direction: column;
        height: auto;

        >.container {
            flex-direction: column;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .value-card {
            width: 100%;
            text-align: center;

            i {
                color: var(--blue);
            }

            h2 {
                color: var(--blue);
            }
        }
    }
}

@media screen and (max-width: 415px) {
    //Header

    .background-content {
        .banner-content>.container {

            h3 {
                text-transform: uppercase;
                font-size: 21px;
                font-weight: 500;
            }

            h1 {
                letter-spacing: normal;
                font-size: 39px;
                font-weight: 800;
                text-transform: capitalize;
                line-height: 1.3em;
            }
        }
    }

    #banner > img {
        top: 75%;
        left: 135%; 
    }
}